<h2 class="mt-3 mb-3">Article Detail</h2>
<!--Bootstrapのクラスをtableからcardに変更-->
<div class="card">
  <p class="card-header">
    <%= @article.title %>
  </p>
  <div class="card-body">
    <%= simple_format(@article.body) %>
    <%= link_to "Articles", articles_path, class: "btn btn-dark" %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-dark ml-3" %>
    <%= link_to "Delete", article_path(@article), class: "btn btn-dark ml-3", method: :delete, data: { confirm: "削除してよろしいですか？" } %>
  </div>
</div>
